* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.main {
    margin-top: 50px;
    width: 620px;
    background-color: rgb(251, 118, 65);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

img {
    width: 55%;
    border-radius: 10px;
    padding: 5px;
}

.main-two {
    width: 45%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    color: white;
    font-family: sans-serif;
}

h2 {
    color: aliceblue;
    font-size: 30px;
}

h1 {
    font-size: 25px;
    color: white;
}

.price {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.colour {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.red {
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 50%;
}

.white {
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
}

@media (max-width:600px) {
    .main {
        display: flex;
        flex-direction: column;
        width: 200px;
    }


    .main-two {
        gap: 5px;
        padding: 5px;
    }

    h2 {
        font-size: 20px;
        color: black;
    }

    h4 {
        font-size: 10px;
    }

    h1 {
        font-size: 15px;
        color: black;
    }

    .colour {
        font-size: 10px;
        gap: 5px;
    }

    .red {
        height: 10px;
        width: 10px;
    }

    .white {
        height: 10px;
        width: 10px;
    }

    .price {
        gap: 20px;
        font-size: 10px;
    }
}